h1, h2, h3 {
    font-family: 'Audiowide', cursive;
}
h2, h3, p {
    color:  #4e4e4e;
}
hr {
	height: 10px;
	background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}
.hr {
    margin-top: 50px;
    margin-bottom: 50px;
}
.hrlast {
    margin-top: 50px;
    padding-bottom: 50px;
}
.header {
    font-family: 'Open Sans', sans-serif;
    background-color: #4e4e4e;
    color: #e9f5f9;
}
.active {
    background-color: #e9f5f9 !important;
    border-bottom-color: transparent !important;
}
.nav-link {
    color: #e9f5f9;
}
.nav-link:hover {
    color: #e9f5f9;
}
.nav-link:focus {
    color: #4e4e4e;
    background-color: #e9f5f9;
}

#body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("../otis-redding.png");
    background-color: #e9f5f9;
    min-height: calc(100vh - 100px);
    text-align: center;
}
.choose {
    text-align: center;
    margin: auto;
}
.dropDown {
    width: 50%;
    text-align: center;
}
.chart {
    margin: auto;
}
.recharts-wrapper {
    margin: auto;
}
.entry {
    width: 50%;
    text-align: center;
}
.form-inline {
    width: 100%;
}
.form-inline > .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.city {
    width: 50% !important;
}
.state {
    width: 30% !important;
}
.map {
    height: 100%;
    width: 100%
}

